In [87]:
import collections
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from math import log10

training_set = pd.read_csv('covid_training.tsv', delimiter='\t')
test_set = pd.read_csv('covid_test_public.tsv', delimiter='\t')


training_set

,tweet_id,text,q1_label,q2_label,q3_label,q4_label,q5_label,q6_label,q7_label
0,1241025578527903750,For the average American the best way to tell ...,no,NaN,NaN,NaN,NaN,no_joke_or_sarcasm,no_not_interesting
1,1240467080954228737,this is fucking bullshit,no,NaN,NaN,NaN,NaN,no_not_harmful,no_not_interesting
2,1240716889162018816,Can y’all please just follow the government’s ...,no,NaN,NaN,NaN,NaN,no_not_harmful,no_not_interesting
3,1241062514886090754,No offense but the corona virus disappearing b...,no,NaN,NaN,NaN,NaN,no_not_harmful,no_not_interesting
4,1241447017945223169,This is the face of someone who just spent 9 h...,yes,2_no_probably_contains_no_false_info,4_yes_probably_of_interest,1_no_definitely_not_harmful,yes_not_urgent,no_not_harmful,no_not_interesting
...,...,...,...,...,...,...,...,...,...
394,1237310167814791168,It's like suicide but minus the haram part I'm...,no,NaN,NaN,NaN,NaN,no_not_harmful,no_not_interesting
395,1237460460749766657,The first Silicon Valley death from COVID-19 w...,yes,2_no_probably_contains_no_false_info,4_yes_probably_of_interest,2_no_probably_not_harmful,no_too_trivial_to_check,no_not_harmful,no_not_interesting
396,1237068715314892802,BREAKTHROUGH: Chloroquine phosphate -- an old ...,yes,2_no_probably_contains_no_false_info,5_yes_definitely_of_interest,4_yes_probably_harmful,yes_very_urgent,yes_bad_cure,yes_discusses_cure
397,1237395939171561472,I know everyone is freaking out about COVID-19...,no,NaN,NaN,NaN,NaN,no_not_harmful,no_not_interesting
398,1237404677307760640,Ebola has a 50% death rate. If you got infecte...,yes,2_no_probably_contains_no_false_info,5_yes_definitely_of_interest,2_no_probably_not_harmful,yes_not_urgent,no_not_harmful,no_not_interesting

In [98]:
ids = training_set['tweet_id']#.values
tweets = training_set['text']#.values
training_cv = CountVectorizer()
sparse = training_cv.fit_transform(tweets)
df = pd.DataFrame(sparse.todense(), columns=training_cv.get_feature_names(), index=ids)



df

,00,000,005,07fsra2ny5,0am2j0zhfe,10,100,10k,10mins,11,...,ªgermany,ªsweden,ªð,³ð,¹austria,ºð,¼19,孙春兰,우리의응원을이어주세요,힘내세요_아미
tweet_id,,,,,,,,,,,,,,,,,,,,,
1241025578527903750,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1240467080954228737,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1240716889162018816,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1241062514886090754,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1241447017945223169,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1237310167814791168,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1237460460749766657,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1237068715314892802,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1237395939171561472,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1237404677307760640,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [101]:

test= df.sum(axis=0)
to_remove = test[test == 1]
df_word_freq = df.sum(axis=0) 
df2_word_freq = df2.sum(axis=0) 
df2_word_freq

00            3
000          10
10            8
100           2
11            2
           ...
you         120
young         4
your         34
yourself      3
youâ          2
Length: 1142, dtype: int64

In [102]:
df2 = df.drop(columns=to_remove.index)
df2

,00,000,10,100,11,12,14,15,16,17,...,wuhan,year,years,yes,yet,you,young,your,yourself,youâ
tweet_id,,,,,,,,,,,,,,,,,,,,,
1241025578527903750,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1240467080954228737,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1240716889162018816,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1241062514886090754,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1241447017945223169,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1237310167814791168,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1237460460749766657,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,3,1,0,0,0
1237068715314892802,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1237395939171561472,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1237404677307760640,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1

In [109]:
probability = {}
yes_ids = training_set[training_set['q1_label'] == 'yes']['tweet_id'].values
no_ids = training_set[training_set['q1_label'] == 'no']['tweet_id'].values
word_freq_df = pd.DataFrame()
word_freq_df = word_freq_df.append(df.drop(yes_ids).sum(axis=0).apply(lambda x : log10((x + alpha)/(df.drop(yes_ids).sum(axis=0).sum() + (alpha * len(df.columns))))), ignore_index=True)
word_freq_df = word_freq_df.append(df.drop(no_ids).sum(axis=0).apply(lambda x : log10((x + alpha)/(df.drop(no_ids).sum(axis=0).sum() + (alpha * len(df.columns))))), ignore_index=True)
word_freq_df
total = training_set['q1_label'].value_counts().sum()
for i, cat in enumerate(training_set["q1_label"].value_counts(sort = False)):
    probability[i] = log10(cat / total)

In [111]:
probability

{0: -0.4191293077419757, 1: -0.20827594242708247}

In [44]:
alpha = 0.01
for i, prob in probability:

ValueError: too many values to unpack (expected 2)

In [72]:
df.drop(yes_ids).sum(axis=0).sum()

3717

,00,000,005,07fsra2ny5,0am2j0zhfe,10,100,10k,10mins,11,...,ªgermany,ªsweden,ªð,³ð,¹austria,ºð,¼19,孙春兰,우리의응원을이어주세요,힘내세요_아미
0,-3.569768,-3.569768,-5.574089,-5.574089,-5.574089,-3.569768,-5.574089,-5.574089,-3.569768,-5.574089,...,-5.574089,-5.574089,-5.574089,-5.574089,-5.574089,-5.574089,-5.574089,-5.574089,-3.569768,-3.569768
1,-3.645241,-2.993713,-3.944116,-3.944116,-3.944116,-3.102719,-3.645241,-3.944116,-5.948437,-3.645241,...,-3.944116,-3.944116,-3.944116,-3.944116,-3.944116,-3.944116,-3.944116,-3.944116,-5.948437,-5.948437

In [79]:
word_freq_df2 = pd.DataFrame()
word_freq_df2 = word_freq_df2.append(df2.drop(yes_ids).sum(axis=0).apply(lambda x : log10((x + alpha)/(df2.drop(yes_ids).sum(axis=0).sum() + (alpha * len(df2.columns))))), ignore_index=True)
word_freq_df2 = word_freq_df2.append(df2.drop(no_ids).sum(axis=0).apply(lambda x : log10((x + alpha)/(df2.drop(no_ids).sum(axis=0).sum() + (alpha * len(df2.columns))))), ignore_index=True)
word_freq_df2

,00,000,10,100,11,12,14,15,16,17,...,wuhan,year,years,yes,yet,you,young,your,yourself,youâ
0,-3.483724,-3.483724,-3.483724,-5.488046,-5.488046,-3.483724,-5.488046,-5.488046,-3.483724,-5.488046,...,-3.009479,-3.184850,-3.483724,-3.184850,-3.009479,-1.739780,-5.488046,-2.311665,-5.488046,-5.488046
1,-3.560271,-2.908742,-3.017749,-3.560271,-3.560271,-3.859145,-3.384900,-3.260322,-3.260322,-3.560271,...,-3.560271,-3.084592,-2.959834,-3.859145,-3.384900,-2.057219,-3.260322,-2.584485,-3.384900,-3.560271

In [125]:

test_set.columns = training_set.columns
test_cv = CountVectorizer(vocabulary=training_cv.get_feature_names())
sparse = test_cv.transform(test_set['text'])

test_df = pd.DataFrame(sparse.todense(), columns=test_cv.get_feature_names(), index=test_set['tweet_id'])
f = open('trace_NB-BOW-OV.txt', 'w')


for index, values in test_df.iterrows():
    print(index)
    score_yes = probability[1];
    score_no = probability[0];
    for word in values[values > 0].index:
        score_yes = score_yes + word_freq_df[word][0]
        score_no = score_no + word_freq_df[word][1]
    if score_yes > score_no:
        c = 'yes'
    else:
        c = 'no'
    real_c = test_set[test_set['tweet_id']== index]['q1_label'].values[0]

    if c == real_c : 
        result = '  correct' 
    else: 
        result = '  wrong'
    f.write(str(index) + '  ' + c + f"  {max(score_yes, score_no):E}  " + real_c + result + '\n')
f.close();

1236289649737371648
yes
1237501242567544835
no
1237029903112888321
no
1237270988334592001
yes
1237477595916251137
yes
1236936132715143168
yes
1237138362261258244
yes
1236601634454528000
no
1237204103970689026
yes
1237015260571168768
yes
1236848918849294336
no
1237034836893650945
no
1237503272555909120
yes
1236181131147522049
yes
1236751849769676801
yes
1236817440606056448
yes
1237283622589206530
yes
1236490588276523008
no
1237611886905937920
no
1236833678380027904
yes
1236766442571337729
yes
1236973525866602496
yes
1236321657096032256
no
1237585675571974145
no
1237070550679379968
yes
1237235176452706304
yes
1237412870192640005
no
1237219650456489984
yes
1237305169932472320
yes
1237137755651616770
no
1237122234675859456
yes
1237361576480473088
no
1237130970396078084
no
1237543674675728386
yes
1237010126881447936
no
1237040928092639232
yes
1237608143519014913
no
1237024126889385986
no
1236759873884479490
no
1237015945186398208
yes
1237124933211348992
yes
1237330231293288449
yes
1237460074123190273
yes
1236386465086615557
no
1237047503029178370
yes
1237263600584216577
no
1236509612142145536
yes
1237326787111239681
yes
1237373539176628225
yes
1237562584477265920
yes
1237077247636496385
no
1237560750102556672
yes
1236973636751425536
no
1236992946509094913
yes